The wait() function makes the thread wait for a notify on the monitor it is waiting for.
The notify() function wakes one thread that is waiting for the monitor
The notifyAll() function wakes all threads that are waiting for the monitor.

The difference between notify() and notifyAll() is that notify unlocks the first lock in the queue, while
notifyAll unlocks all the locks. 

The order variables are shared between all of the customer threads, and is synchronized through the waitingArea object.

One of the waitress threads will be reporting the final statistics by checking if the last customer that entered the
serving area is the one the waitress last served (after the bar has closed).